<% layout('layout/boilerplate')-%>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="/styleSheets/map.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
    <div id="map" class="mb-3 map-cluster"></div>
    <div class="mb-3">
        <a href="/campgrounds/new" class="btn btn-warning mb-2">Add Campground</a>

    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <% for(let campground of campgrounds) {%>
            <div class=" col">
                <div class=" card h-100">
                    <img src="<%=campground.images[0].url%>" class="card-img-top""
                        alt=" image-<%=campground.title %>">
                    <div class="card-body ">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">
                                <%=campground.title %>
                            </h5>
                            <a href="/campgrounds/<%=campground._id %>" class="btn btn-info p-1 mb-2">More</a>
                        </div>
                        <p class="text-muted mb-1">
                            <%=campground.location %>

                        </p>

                        <p class="card-text">
                            <%=campground.description.substr(0,100)%>...
                        </p>
                    </div>
                </div>
            </div>
            <% } %>
                <script>
                    const mapToken = '<%-process.env.MAPBOX_ACCESS_TOKEN%>';
                    const campgrounds = { features: <%-JSON.stringify(campgrounds) %>};
                </script>
                <script src="/js/clustermap.js"></script>